.forecast {
    composes: mainSection from '../../styles/Home.module.css';
    grid-area: forecast;
    background: rgb(217,139,43);
    background: radial-gradient(circle at 100% -10%, rgba(217,139,43,1) 0%, rgba(242,181,68,1) 100%);
  }
  .forecast {
    text-align: center;
  }