.mainSection {
    margin: 0;
    padding: 0;

    text-shadow: rgba(0,0,0,0.5) 2px 2px 8px;
    
  }
  
  .summary {
    composes: mainSection;
    grid-area: summary;
    background: rgb(217,139,43);
    background: radial-gradient(circle at 100% -10%, rgb(253, 163, 53) 0%, rgb(245, 196, 105) 100%);
      
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-gap: 0;
    grid-row: 1 / 3;
  }

  .heading {
    grid-column: 1 / 3;
    text-align: center;
    font-size: 3em;
    align-self: center;
  }
  
  .room {
    font-size: 1em;
    text-align: center;
  }

  .room:nth-child(2),
  .room:nth-child(4) {
    background: rgb(31,52,115);
    background: radial-gradient(circle at -10% 100%, rgba(83,81,140,1) 0%, rgba(31,52,115,1) 100%);

  }
  
  .room:nth-child(3),
  .room:nth-child(5) {
    background: rgb(31,52,115);
    background: radial-gradient(circle at 100% -10%, rgba(83,81,140,1) 0%, rgba(31,52,115,1) 100%);
  }

  .roomIcon {
    width: 2em;
    vertical-align: middle;
    padding: 0.5em;
  }

  .temperature {
    font-size: 4em;
    text-align: center;
  }