.mainSection {
  margin: 0;
  padding: 0;
}

.summary {
  composes: mainSection;
  grid-area: summary;
  background: rgb(31,52,115);
  background: linear-gradient(125deg, rgba(31,52,115,1) -20%, rgba(83,81,140,1) 120%);
  
  display: grid;
  grid-template-columns: 33% auto;
  grid-template-rows: 40% 40% 20%;
  grid-gap: 0;
}

.forecast {
  composes: mainSection;
  grid-area: forecast;
  background: rgb(217,139,43);
  background: radial-gradient(circle at 100% -10%, rgba(217,139,43,1) 0%, rgba(242,181,68,1) 100%);
}

.music {
  composes: mainSection;
  grid-area: music;
  background: rgb(44,135,191);
  background: linear-gradient(171deg, rgba(44,135,191,1) -20%, rgba(7,71,143,1) 110%); }

.roonIframe {
  border: 0 none;
}