@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Bold.woff2') format('woff2'),
        url('/fonts/Outfit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Regular.woff2') format('woff2'),
        url('/fonts/Outfit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

