.currentWeatherIcon {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    mix-blend-mode: luminosity;
    width: 14em;
    height: 14em;
    margin: 0 auto;
}

.currentTemperature {
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    margin: 0 auto;

    font-size: 3em;
}

.roomIcon {
    width: 1em;
    vertical-align: middle;
    padding: 0.5em;
  }